    html {
        scroll-behavior: smooth;
        /* hyphens */
        -moz-hyphens: auto;
        -o-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    
    body {
        background: url(/src/bg-image-3.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
        overflow-x: hidden;
    }
    
    .divider-horizontal {
        height: auto;
        width: 1rem;
        margin: 0;
    }
    
    #main-pdf {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        overflow: hidden;
    }
    
    #hidden {
        opacity: 0;
        transition: all 1s;
    }
    
    #show {
        opacity: 1;
    }
    
    p {
        color: #FFF;
    }
    
    .product-container .hero-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .navbar img,
    .footer img {
        height: 48px;
        width: auto;
    }
    
    #profile-pic {
        margin-top: 50px;
        max-width: 100%;
        height: auto;
    }
    
    #landing_contact_list input {
        border-style: solid;
        border-color: red;
    }
    
    #sticky-nav {
        position: absolute;
        z-index: 3;
    }
    
    #head-div {
        display: inline-block;
    }
    
    .div-wrapper {
        position: relative;
    }
    
    #landing_contact_list li {
        margin: 5px;
    }
    /*for map embed on mobile*/
    
    @media only screen and (max-width: 590px) {
        .google-maps-embedding {
            display: none;
        }
        #landing-page {
            min-height: 60vh;
        }
    }
    
    .impressum p {
        color: black;
    }
    
    .hidden_cont {
        opacity: 0;
    }
    
    .show {
        opacity: 1;
    }
    
    .container {}
    
    .animated {}
    /* Fade in left */
    
    .fadeInLeft {
        -webkit-animation: fadeInLeft 1.5s both;
        /* Safari 4+ */
        -moz-animation: fadeInLeft 1.5s both;
        /* Fx 5+ */
        -o-animation: fadeInLeft 1.5s both;
        /* Opera 12+ */
        animation: fadeInLeft 1.5s both;
        /* IE 10+, Fx 29+ */
    }
    /* Safari 4+ */
    
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    /* Fx 5+ */
    
    @-moz-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -moz-transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateX(0);
        }
    }
    /* Opera 12+ */
    
    @-o-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -o-transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            -o-transform: translateX(0);
        }
    }
    /* IE 10+, Fx 29+ */
    
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    /* Fade in top */
    
    .fadeInTop {
        -webkit-animation: fadeInTop 1.5s both;
        /* Safari 4+ */
        -moz-animation: fadeInTop 1.5s both;
        /* Fx 5+ */
        -o-animation: fadeInTop 1.5s both;
        /* Opera 12+ */
        animation: fadeInTop 1.5s both;
        /* IE 10+, Fx 29+ */
    }
    
    @-webkit-keyframes fadeInTop {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }
    
    @-moz-keyframes fadeInTop {
        0% {
            opacity: 0;
            -moz-transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }
    
    @-o-keyframes fadeInTop {
        0% {
            opacity: 0;
            -o-transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            -o-transform: translateY(0);
        }
    }
    
    @keyframes fadeInTop {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* Fade in right */
    
    .fadeInRight {
        -webkit-animation: fadeInRight 1.5s both;
        /* Safari 4+ */
        -moz-animation: fadeInRight 1.5s both;
        /* Fx 5+ */
        -o-animation: fadeInRight 1.5s both;
        /* Opera 12+ */
        animation: fadeInRight 1.5s both;
        /* IE 10+, Fx 29+ */
    }
    
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(50px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    
    @-moz-keyframes fadeInRight {
        0% {
            opacity: 0;
            -moz-transform: translateX(50px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateX(0);
        }
    }
    
    @-o-keyframes fadeInRight {
        0% {
            opacity: 0;
            -o-transform: translateX(50px);
        }
        100% {
            opacity: 1;
            -o-transform: translateX(0);
        }
    }
    
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }