html {
    scroll-behavior: smooth;
}

.product-container .hero-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.navbar img,
.footer img {
    height: 48px;
}

#sticky-nav {
    position: absolute;
    z-index: 3;
}


/*for map embed on mobile*/

@media only screen and (max-width: 590px) {
    .google-maps-embedding {
        display: none;
    }
    #landing-page {
        min-height: 60vh;
    }
}